#header {
  background-color: #f5921a;
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  background-repeat: repeat-x;
  background-color: #ffffff;
  border: solid 1px #da7c0c;
  -webkit-font-smoothing: antialiased;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.065);
  box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.065);
}

a#logo {
  background: none !important;
  padding: 20px 0 20px 60px !important;
  color: #626262 !important;
  text-shadow: 0 1px 1px rgba(255,255,255,0.55);
}

#logo-img {
  background: transparent url("http://redcappi.com/webappassets/images/redesign/logo.png") no-repeat;
  display: block;
  height: 50px;
  width: 40px;
  position: absolute;
  top: 8px;
  background-size: 174px;
}

h3 {
  line-height: 22px;
  font-size: 18px;
  color: #333;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

#logout {
  float: right;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  background-color: #ec1e11;
  background-image: -moz-linear-gradient(top, #ef2009, #bf0404);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ef2009), to(#bf0404));
  background-image: -webkit-linear-gradient(top, #ef2009, #bf0404);
  background-image: -o-linear-gradient(top, #ef2009, #bf0404);
  background-image: linear-gradient(to bottom, #ef2009, #bf0404);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffef2009', endColorstr='#ffbf0404', GradientType=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
  background-color: #bf0404;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  padding: 8px 16px 9px;
  font-size: 15px;
  margin-top: -3px;
}

input[type="text"] {
  outline: none;
  font-size: 14px;
  padding: 4px 6px;
  margin-bottom: 0;
  display: block;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

input[type="text"]:focus {
  border-color: #52a8ec;
  border-color: rgba(82, 168, 236, 0.85);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.86);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.86);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.86);
}

.btn {
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  vertical-align: baseline;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  margin: 0 2px;
  padding: 6px 12px;
  font-weight: 700;
  outline: none;
}

.btn:hover {
  background-position: 0 -15px !important;
  text-decoration: none;
}

.btn:active {
  background-image: none !important;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.submit {
  color: #333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f6f6f6;
  background-image: -moz-linear-gradient(top, #ffffff, #e8e8e8);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e8e8e8));
  background-image: -webkit-linear-gradient(top, #ffffff, #e8e8e8);
  background-image: -o-linear-gradient(top, #ffffff, #e8e8e8);
  background-image: linear-gradient(to bottom, #ffffff, #e8e8e8);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe8e8e8', GradientType=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
  background-color: #e8e8e8 !important;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

input.btn.submit[type="submit"] {
  border-width: 0;
  border-top-width: 1px;
  width: 200px;
  margin: 10px auto 0;
}

input.btn.submit[type="submit"]:active {
  border-bottom-width: 1px;
}

.input-title {
  margin: 0 auto;
  width: 960px;
  padding: 25px 0 15px 10px;
}

#user_keys {
  width: 920px;
  margin: 5px auto 25px;
  border: 1px solid #ddd;
  border-bottom: 1px solid #d0d0d0;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 20px 25px;
  background-color: #fdfdfd;
}

#user_keys input[type="submit"] {
  padding: 7px 12px;
  margin: 5px 0;
}

#user_keys strong {
  font-weight: 700;
  display: block;
  padding-bottom: 4px;
  color: #555;
}

#user_keys input[type="text"] {
  width: 100%;
}

#user_keys p {
  padding: 15px 0 0 0;
  line-height: 20px;
  font-size: 14px;
  color: #777;
}

#show_user_keys {
  width: 960px;
  margin: 25px auto 15px;
}

#show_user_keys input[type="submit"] {
  margin: 0;
}

.swagger-ui-wrap {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.icon-btn {
  cursor: pointer;
}

#message-bar {
  text-align: center;
  padding-top: 10px;
}

.message-success {
  color: #89BF04;
}

.message-fail {
  color: #cc0000;
}
