.signupform h1, .signupform h2, .signupform h3, .signupform h4, .signupform h5, .signupform h6, .signupform p, .signupform form {
font-size:100%;
font-weight:normal;
line-height:normal;
padding:0;
margin:0;
}


.signupform {background-color: #FFFFFF;padding: 15px;border: 1px solid #eaeaea;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px; margin: 20px auto;width: 25%;    box-shadow: 0 0 25px -13px #828181;overflow: hidden;}
.formTable{width:100%;font-family:Arial;}
	.formTable td{ padding:0 0px 15px 0; font-size:13px; color:#929191; vertical-align:top;}
	.formTable td span{color:#FF0000;}
	.formTable h2{font-size:24px; color:#333 !important;  font-weight:bold; padding:0 0 10px 0; background:none !important;}
	.formTable td label{ display:inline-block; padding:0 0 5px 0;}
	.formTable input[type="text"]{-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius:4px; border:none; height:30px; background:#F6F6F6; line-height:30px; font-size:14px; color:#333333; width:100%; margin:0; padding:0;box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)-webkit-transition: all 0.2s linear;    -moz-transition: all 0.2s linear;-ms-transition: all 0.2s linear;-o-transition: all 0.2s linear;;}
	.formTable input[type="text"]:focus{background:#FFFFFF;}
	.formTable textarea{-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius:4px; border:none; height:80px; background:#F6F6F6; line-height:18px; font-size:14px; color:#333333; width:100%; resize:none; font-family:arial; margin:0; padding:0;}
	.formTable textarea:focus{background:#FFFFFF;}
	.formTable .form-label {color:#828181;font-size: 14px; font-weight: bold;}



	.submit_button{background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeeee 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */ border:1px solid #ccc; font-size:14px; font-weight:bold; padding:5px 15px;-moz-box-shadow: 1px 1px 1px #888;
	-webkit-box-shadow: 1px 1px 1px #888;
	box-shadow: 1px 1px 1px #888;-webkit-border-radius:4px;-moz-border-radius: 4px;border-radius:4px; height:auto; cursor:pointer;}

	.footlink{width:100%; color:#808080; margin:0 auto;width: 100%;text-align: center;}
	.footlink a{ color:#808080; font-size:12px; text-decoration:underline;}
	.footlink a:hover{ text-decoration:none;}
.header-txt {
    background: #000 !important;
    color: #fff !important;
}
.formTable select {
    border: 1px solid #e0e0e0;
    font-family: inherit;
    background: #F6F6F6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 6px 0 0px;
    line-height: 30px;
    font-size: 14px;
    display: block;
    padding: 10px;
    width: 100%;
    outline: 0;
	border: none;
}
.formTable .submit_button {
    vertical-align: middle;
    text-align: center;
    width: 100%;
    padding: 7px 0;
    line-height: 20px;
    font-size: 16px;
    display: block;
    cursor: pointer;
    margin: 0 auto 15px;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    background-color: #ec1e11;
    background-image: -moz-linear-gradient(top, #ff3019, #cf0404);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff3019), to(#cf0404));
    background-image: -webkit-linear-gradient(top, #ff3019, #cf0404);
    background-image: -o-linear-gradient(top, #ff3019, #cf0404);
    background-image: linear-gradient(to bottom, #ff3019, #cf0404);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff3019', endColorstr='#ffcf0404', GradientType=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
    background-color: #cf0404;
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
@media only screen and (max-width: 1300px) { 
	.signupform {
		width: 30%;
	}
}
@media only screen and (max-width: 991px) {
	.signupform {
		width: 50%;
	}
}
.nl-container #signupform {
    width: 100%;
}




@media only screen and (max-width: 991px) { 
 .nl-container #signupform {
  width: 98%;
 }
}
@media only screen and (max-width: 680px) { 
 .nl-container #signupform {
  width: 85%;
 }
}