h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
  line-height: normal;
  font-weight: 300;
  font-size: 100%;
  padding: 0;
  margin: 0;
}
body {
  font: normal 12px/14px Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #000 !important;
  font-style: normal;
  text-align: left;
  line-height: 1;
  padding: 0;
  margin: 0;
}
.signupform {
  -webkit-box-shadow: 0 0 25px -13px #828181;
  -moz-box-shadow: 0 0 25px -13px #828181;
  box-shadow: 0 0 25px -13px #828181;
  background-color: #fff;
  border: 1px solid #eaeaea;
  margin: 50px auto 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  max-width: 500px;
  min-width: 320px;
}
.formTable {
  width: 100%;
}
.formTable .subscribe_to_list td {
  padding-bottom: 22px;
}
.formTable td {
  padding: 0 27px 5px;
  vertical-align: top;
  font-size: 13px;
  color: #828181;
}
.formTable td span {
  padding: 0 0 15px;
  line-height: 22px;
  font-weight: 700;
  font-size: 20px;
  color: #f00;
}
.formTable td label {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  padding: 0 0 7px;
}
.formTable td input + label {
  font-weight: 300;
}
.formTable td input + label + br:last-child {
  margin-top: 8px;
  display: block;
  content: " ";
}
.formTable h2 {
  -webkit-font-smoothing: antialiased;
  padding: 22px 15px 15px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  background: none;
  font-size: 26px;
  color: #454545;
}
.formTable input[type="text"] {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: inherit;
  background: #F6F6F6;
  margin: 0 auto 15px auto;
  font-size: 16px;
  display: block;
  padding: 10px;
  border: none;
  max-width: 446px;
  min-width: 270px;
  width: 100%;
  outline: 0;
}
.formTable input[type="text"]:focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  background: #f2f2f2;
}
.formTable textarea {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  border: none;
  background: #F6F6F6;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  line-height: 18px;
  font-size: 14px;
  height: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 424px;
  min-width: 268px;
  width: 100%;
  color: #333;
  padding: 10px;
  margin: 0 0 20px;
}
.formTable textarea:focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  background: #f2f2f2;
  outline: 0;
}
.formTable select {
  border: 1px solid #e0e0e0;
  font-family: inherit;
  background: #F6F6F6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 6px auto 20px;
  line-height: 30px;
  max-width: 446px;
  min-width: 290px;
  font-size: 14px;
  display: block;
  padding: 10px;
  width: 100%;
  outline: 0;
}
.formTable input[type="checkbox"],
.formTable input[type="radio"] {
  margin-right: 10px;
}
.formTable .input-option-container {
  margin-bottom: 10px;
}
.formTable .input-option-date {
  margin-right: 10px;
  display: inline;
  max-width: 30%;
  min-width: 30%;
  height: 40px;
  width: 30%;
}
.formTable .input-option-date.last {
  margin-right: 0;
}
.formTable .input-option-fields {
  color: #555;
}
.formTable .form-label , .formTable p{
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  padding: 0;
  color: #828181;
}
.formTable .form_title {
  padding: 0 0 10px;
}
.formTable .submit_button {
  vertical-align: middle;
  text-align: center;
  width: 100%;
  padding: 7px 0;
  line-height: 20px;
  font-size: 16px;
  display: block;
  cursor: pointer;
  margin: 0 auto 15px;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  background-color: #ec1e11;
  background-image: -moz-linear-gradient(top, #ff3019, #cf0404);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff3019), to(#cf0404));
  background-image: -webkit-linear-gradient(top, #ff3019, #cf0404);
  background-image: -o-linear-gradient(top, #ff3019, #cf0404);
  background-image: linear-gradient(to bottom, #ff3019, #cf0404);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff3019', endColorstr='#ffcf0404', GradientType=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
  background-color: #cf0404;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.formTable .submit_button:hover {
  background-position: 0 -35px !important;
  text-decoration: none;
}
.formTable .submit_button:active {
  background-image: none !important;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.formTable label.error {
  margin-left: 10px;
  font-weight: 700;
  color: #F00;
}
.footlink {
  padding-bottom: 30px;
  text-align: center;
  width: 100%;
  color: #808080;
}
.footlink a {
  color: #808080;
  font-size: 12px;
  text-decoration: underline;
}
.footlink a:hover {
  text-decoration: none;
}

/* ================== 18-09 =============== */
img#logo-img {
    margin: 0 auto;
    text-align: center;
	height: 100px;
}


.formTable .submit_button {
    background-image: none !important;
}