/*!
 *  Font Awesome 3.1.0
 *  the iconic font designed for Bootstrap
 *  -------------------------------------------------------
 *  The full suite of pictographic icons, examples, and documentation
 *  can be found at: http://fontawesome.io
 *
 *  License
 *  -------------------------------------------------------
 *  - The Font Awesome font is licensed under the SIL Open Font License v1.1 -
 *    http://scripts.sil.org/OFL
 *  - Font Awesome CSS, LESS, and SASS files are licensed under the MIT License -
 *    http://opensource.org/licenses/mit-license.html
 *  - Font Awesome documentation licensed under CC BY 3.0 License -
 *    http://creativecommons.org/licenses/by/3.0/
 *  - Attribution is no longer required in Font Awesome 3.0, but much appreciated:
 *    "Font Awesome by Dave Gandy - http://fontawesome.io"

 *  Contact
 *  -------------------------------------------------------
 *  Email: dave@fontawesome.io
 *  Twitter: http://twitter.com/fortaweso_me
 *  Work: Lead Product Designer @ http://kyruus.com
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=3.1.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=3.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=3.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=3.1.0') format('truetype'), url('../fonts/fontawesome-webfont.svg#fontawesomeregular?v=3.1.0') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* FONT AWESOME CORE
 * -------------------------- */
[class^="icon-"],
[class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}
/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: -10%;
  font-size: 1.3333333333333333em;
}
/* makes sure icons active on rollover in links */
a [class^="icon-"],
a [class*=" icon-"],
a [class^="icon-"]:before,
a [class*=" icon-"]:before {
  display: inline;
}
/* increased font size for icon-large */
[class^="icon-"].icon-fixed-width,
[class*=" icon-"].icon-fixed-width {
  display: inline-block;
  width: 1.2857142857142858em;
  text-align: center;
}
[class^="icon-"].icon-fixed-width.icon-large,
[class*=" icon-"].icon-fixed-width.icon-large {
  width: 1.5714285714285714em;
}
ul.icons-ul {
  list-style-type: none;
  text-indent: -0.7142857142857143em;
  margin-left: 2.142857142857143em;
}
ul.icons-ul > li .icon-li {
  width: 0.7142857142857143em;
  display: inline-block;
  text-align: center;
}
[class^="icon-"].hide,
[class*=" icon-"].hide {
  display: none;
}
.icon-muted {
  color: #eeeeee;
}
.icon-light {
  color: #ffffff;
}
.icon-dark {
  color: #333333;
}
.icon-border {
  border: solid 1px #eeeeee;
  padding: .2em .25em .15em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.icon-2x {
  font-size: 2em;
}
.icon-2x.icon-border {
  border-width: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.icon-3x {
  font-size: 3em;
}
.icon-3x.icon-border {
  border-width: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.icon-4x {
  font-size: 4em;
}
.icon-4x.icon-border {
  border-width: 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.icon-5x {
  font-size: 5em;
}
.icon-5x.icon-border {
  border-width: 5px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
[class^="icon-"].pull-left,
[class*=" icon-"].pull-left {
  margin-right: .3em;
}
[class^="icon-"].pull-right,
[class*=" icon-"].pull-right {
  margin-left: .3em;
}
/* BOOTSTRAP SPECIFIC CLASSES
 * -------------------------- */
/* Bootstrap 2.0 sprites.less reset */
[class^="icon-"],
[class*=" icon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
}
/* more sprites.less reset */
.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"] {
  background-image: none;
}
/* keeps Bootstrap styles with and without icons the same */
.btn [class^="icon-"].icon-large,
.nav [class^="icon-"].icon-large,
.btn [class*=" icon-"].icon-large,
.nav [class*=" icon-"].icon-large {
  line-height: .9em;
}
.btn [class^="icon-"].icon-spin,
.nav [class^="icon-"].icon-spin,
.btn [class*=" icon-"].icon-spin,
.nav [class*=" icon-"].icon-spin {
  display: inline-block;
}
.nav-tabs [class^="icon-"],
.nav-pills [class^="icon-"],
.nav-tabs [class*=" icon-"],
.nav-pills [class*=" icon-"],
.nav-tabs [class^="icon-"].icon-large,
.nav-pills [class^="icon-"].icon-large,
.nav-tabs [class*=" icon-"].icon-large,
.nav-pills [class*=" icon-"].icon-large {
  line-height: .9em;
}
.btn [class^="icon-"].pull-left.icon-2x,
.btn [class*=" icon-"].pull-left.icon-2x,
.btn [class^="icon-"].pull-right.icon-2x,
.btn [class*=" icon-"].pull-right.icon-2x {
  margin-top: .18em;
}
.btn [class^="icon-"].icon-spin.icon-large,
.btn [class*=" icon-"].icon-spin.icon-large {
  line-height: .8em;
}
.btn.btn-small [class^="icon-"].pull-left.icon-2x,
.btn.btn-small [class*=" icon-"].pull-left.icon-2x,
.btn.btn-small [class^="icon-"].pull-right.icon-2x,
.btn.btn-small [class*=" icon-"].pull-right.icon-2x {
  margin-top: .25em;
}
.btn.btn-large [class^="icon-"],
.btn.btn-large [class*=" icon-"] {
  margin-top: 0;
}
.btn.btn-large [class^="icon-"].pull-left.icon-2x,
.btn.btn-large [class*=" icon-"].pull-left.icon-2x,
.btn.btn-large [class^="icon-"].pull-right.icon-2x,
.btn.btn-large [class*=" icon-"].pull-right.icon-2x {
  margin-top: .05em;
}
.btn.btn-large [class^="icon-"].pull-left.icon-2x,
.btn.btn-large [class*=" icon-"].pull-left.icon-2x {
  margin-right: .2em;
}
.btn.btn-large [class^="icon-"].pull-right.icon-2x,
.btn.btn-large [class*=" icon-"].pull-right.icon-2x {
  margin-left: .2em;
}
/* EXTRAS
 * -------------------------- */
/* Stacked and layered icon */
.icon-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: -35%;
}
.icon-stack [class^="icon-"],
.icon-stack [class*=" icon-"] {
  display: block;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 1em;
  line-height: inherit;
  *line-height: 2em;
}
.icon-stack .icon-stack-base {
  font-size: 2em;
  *line-height: 1em;
}
/* Animated rotating icon */
.icon-spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
/* Icon rotations and mirroring */
.icon-rotate-90:before {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
.icon-rotate-180:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.icon-rotate-270:before {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.icon-flip-horizontal:before {
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.icon-flip-vertical:before {
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}
/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.icon-glass:before {
  content: "\f000";
}
.icon-music:before {
  content: "\f001";
}
.icon-search:before {
  content: "\f002";
}
.icon-envelope:before {
  content: "\f003";
}
.icon-heart:before {
  content: "\f004";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-empty:before {
  content: "\f006";
}
.icon-user:before {
  content: "\f007";
}
.icon-film:before {
  content: "\f008";
}
.icon-th-large:before {
  content: "\f009";
}
.icon-th:before {
  content: "\f00a";
}
.icon-th-list:before {
  content: "\f00b";
}
.icon-ok:before {
  content: "\f00c";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-zoom-in:before {
  content: "\f00e";
}
.icon-zoom-out:before {
  content: "\f010";
}
.icon-off:before {
  content: "\f011";
}
.icon-signal:before {
  content: "\f012";
}
.icon-cog:before {
  content: "\f013";
}
.icon-trash:before {
  content: "\f014";
}
.icon-home:before {
  content: "\f015";
}
.icon-file:before {
  content: "\f016";
}
.icon-time:before {
  content: "\f017";
}
.icon-road:before {
  content: "\f018";
}
.icon-download-alt:before {
  content: "\f019";
}
.icon-download:before {
  content: "\f01a";
}
.icon-upload:before {
  content: "\f01b";
}
.icon-inbox:before {
  content: "\f01c";
}
.icon-play-circle:before {
  content: "\f01d";
}
.icon-repeat:before,
.icon-rotate-right:before {
  content: "\f01e";
}
/* F020 doesn't work in Safari. all shifted one down */
.icon-refresh:before {
  content: "\f021";
}
.icon-list-alt:before {
  content: "\f022";
}
.icon-lock:before {
  content: "\f023";
}
.icon-flag:before {
  content: "\f024";
}
.icon-headphones:before {
  content: "\f025";
}
.icon-volume-off:before {
  content: "\f026";
}
.icon-volume-down:before {
  content: "\f027";
}
.icon-volume-up:before {
  content: "\f028";
}
.icon-qrcode:before {
  content: "\f029";
}
.icon-barcode:before {
  content: "\f02a";
}
.icon-tag:before {
  content: "\f02b";
}
.icon-tags:before {
  content: "\f02c";
}
.icon-book:before {
  content: "\f02d";
}
.icon-bookmark:before {
  content: "\f02e";
}
.icon-print:before {
  content: "\f02f";
}
.icon-camera:before {
  content: "\f030";
}
.icon-font:before {
  content: "\f031";
}
.icon-bold:before {
  content: "\f032";
}
.icon-italic:before {
  content: "\f033";
}
.icon-text-height:before {
  content: "\f034";
}
.icon-text-width:before {
  content: "\f035";
}
.icon-align-left:before {
  content: "\f036";
}
.icon-align-center:before {
  content: "\f037";
}
.icon-align-right:before {
  content: "\f038";
}
.icon-align-justify:before {
  content: "\f039";
}
.icon-list:before {
  content: "\f03a";
}
.icon-indent-left:before {
  content: "\f03b";
}
.icon-indent-right:before {
  content: "\f03c";
}
.icon-facetime-video:before {
  content: "\f03d";
}
.icon-picture:before {
  content: "\f03e";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-adjust:before {
  content: "\f042";
}
.icon-tint:before {
  content: "\f043";
}
.icon-edit:before {
  content: "\f044";
}
.icon-share:before {
  content: "\f045";
}
.icon-check:before {
  content: "\f046";
}
.icon-move:before {
  content: "\f047";
}
.icon-step-backward:before {
  content: "\f048";
}
.icon-fast-backward:before {
  content: "\f049";
}
.icon-backward:before {
  content: "\f04a";
}
.icon-play:before {
  content: "\f04b";
}
.icon-pause:before {
  content: "\f04c";
}
.icon-stop:before {
  content: "\f04d";
}
.icon-forward:before {
  content: "\f04e";
}
.icon-fast-forward:before {
  content: "\f050";
}
.icon-step-forward:before {
  content: "\f051";
}
.icon-eject:before {
  content: "\f052";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-plus-sign:before {
  content: "\f055";
}
.icon-minus-sign:before {
  content: "\f056";
}
.icon-remove-sign:before {
  content: "\f057";
}
.icon-ok-sign:before {
  content: "\f058";
}
.icon-question-sign:before {
  content: "\f059";
}
.icon-info-sign:before {
  content: "\f05a";
}
.icon-screenshot:before {
  content: "\f05b";
}
.icon-remove-circle:before {
  content: "\f05c";
}
.icon-ok-circle:before {
  content: "\f05d";
}
.icon-ban-circle:before {
  content: "\f05e";
}
.icon-arrow-left:before {
  content: "\f060";
}
.icon-arrow-right:before {
  content: "\f061";
}
.icon-arrow-up:before {
  content: "\f062";
}
.icon-arrow-down:before {
  content: "\f063";
}
.icon-share-alt:before,
.icon-mail-forward:before {
  content: "\f064";
}
.icon-resize-full:before {
  content: "\f065";
}
.icon-resize-small:before {
  content: "\f066";
}
.icon-plus:before {
  content: "\f067";
}
.icon-minus:before {
  content: "\f068";
}
.icon-asterisk:before {
  content: "\f069";
}
.icon-exclamation-sign:before {
  content: "\f06a";
}
.icon-gift:before {
  content: "\f06b";
}
.icon-leaf:before {
  content: "\f06c";
}
.icon-fire:before {
  content: "\f06d";
}
.icon-eye-open:before {
  content: "\f06e";
}
.icon-eye-close:before {
  content: "\f070";
}
.icon-warning-sign:before {
  content: "\f071";
}
.icon-plane:before {
  content: "\f072";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-random:before {
  content: "\f074";
}
.icon-comment:before {
  content: "\f075";
}
.icon-magnet:before {
  content: "\f076";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-retweet:before {
  content: "\f079";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-folder-close:before {
  content: "\f07b";
}
.icon-folder-open:before {
  content: "\f07c";
}
.icon-resize-vertical:before {
  content: "\f07d";
}
.icon-resize-horizontal:before {
  content: "\f07e";
}
.icon-bar-chart:before {
  content: "\f080";
}
.icon-twitter-sign:before {
  content: "\f081";
}
.icon-facebook-sign:before {
  content: "\f082";
}
.icon-camera-retro:before {
  content: "\f083";
}
.icon-key:before {
  content: "\f084";
}
.icon-cogs:before {
  content: "\f085";
}
.icon-comments:before {
  content: "\f086";
}
.icon-thumbs-up:before {
  content: "\f087";
}
.icon-thumbs-down:before {
  content: "\f088";
}
.icon-star-half:before {
  content: "\f089";
}
.icon-heart-empty:before {
  content: "\f08a";
}
.icon-signout:before {
  content: "\f08b";
}
.icon-linkedin-sign:before {
  content: "\f08c";
}
.icon-pushpin:before {
  content: "\f08d";
}
.icon-external-link:before {
  content: "\f08e";
}
.icon-signin:before {
  content: "\f090";
}
.icon-trophy:before {
  content: "\f091";
}
.icon-github-sign:before {
  content: "\f092";
}
.icon-upload-alt:before {
  content: "\f093";
}
.icon-lemon:before {
  content: "\f094";
}
.icon-phone:before {
  content: "\f095";
}
.icon-check-empty:before {
  content: "\f096";
}
.icon-bookmark-empty:before {
  content: "\f097";
}
.icon-phone-sign:before {
  content: "\f098";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-github:before {
  content: "\f09b";
}
.icon-unlock:before {
  content: "\f09c";
}
.icon-credit-card:before {
  content: "\f09d";
}
.icon-rss:before {
  content: "\f09e";
}
.icon-hdd:before {
  content: "\f0a0";
}
.icon-bullhorn:before {
  content: "\f0a1";
}
.icon-bell:before {
  content: "\f0a2";
}
.icon-certificate:before {
  content: "\f0a3";
}
.icon-hand-right:before {
  content: "\f0a4";
}
.icon-hand-left:before {
  content: "\f0a5";
}
.icon-hand-up:before {
  content: "\f0a6";
}
.icon-hand-down:before {
  content: "\f0a7";
}
.icon-circle-arrow-left:before {
  content: "\f0a8";
}
.icon-circle-arrow-right:before {
  content: "\f0a9";
}
.icon-circle-arrow-up:before {
  content: "\f0aa";
}
.icon-circle-arrow-down:before {
  content: "\f0ab";
}
.icon-globe:before {
  content: "\f0ac";
}
.icon-wrench:before {
  content: "\f0ad";
}
.icon-tasks:before {
  content: "\f0ae";
}
.icon-filter:before {
  content: "\f0b0";
}
.icon-briefcase:before {
  content: "\f0b1";
}
.icon-fullscreen:before {
  content: "\f0b2";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-link:before {
  content: "\f0c1";
}
.icon-cloud:before {
  content: "\f0c2";
}
.icon-beaker:before {
  content: "\f0c3";
}
.icon-cut:before {
  content: "\f0c4";
}
.icon-copy:before {
  content: "\f0c5";
}
.icon-paper-clip:before {
  content: "\f0c6";
}
.icon-save:before {
  content: "\f0c7";
}
.icon-sign-blank:before {
  content: "\f0c8";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-list-ul:before {
  content: "\f0ca";
}
.icon-list-ol:before {
  content: "\f0cb";
}
.icon-strikethrough:before {
  content: "\f0cc";
}
.icon-underline:before {
  content: "\f0cd";
}
.icon-table:before {
  content: "\f0ce";
}
.icon-magic:before {
  content: "\f0d0";
}
.icon-truck:before {
  content: "\f0d1";
}
.icon-pinterest:before {
  content: "\f0d2";
}
.icon-pinterest-sign:before {
  content: "\f0d3";
}
.icon-google-plus-sign:before {
  content: "\f0d4";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-money:before {
  content: "\f0d6";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-columns:before {
  content: "\f0db";
}
.icon-sort:before {
  content: "\f0dc";
}
.icon-sort-down:before {
  content: "\f0dd";
}
.icon-sort-up:before {
  content: "\f0de";
}
.icon-envelope-alt:before {
  content: "\f0e0";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-undo:before,
.icon-rotate-left:before {
  content: "\f0e2";
}
.icon-legal:before {
  content: "\f0e3";
}
.icon-dashboard:before {
  content: "\f0e4";
}
.icon-comment-alt:before {
  content: "\f0e5";
}
.icon-comments-alt:before {
  content: "\f0e6";
}
.icon-bolt:before {
  content: "\f0e7";
}
.icon-sitemap:before {
  content: "\f0e8";
}
.icon-umbrella:before {
  content: "\f0e9";
}
.icon-paste:before {
  content: "\f0ea";
}
.icon-lightbulb:before {
  content: "\f0eb";
}
.icon-exchange:before {
  content: "\f0ec";
}
.icon-cloud-download:before {
  content: "\f0ed";
}
.icon-cloud-upload:before {
  content: "\f0ee";
}
.icon-user-md:before {
  content: "\f0f0";
}
.icon-stethoscope:before {
  content: "\f0f1";
}
.icon-suitcase:before {
  content: "\f0f2";
}
.icon-bell-alt:before {
  content: "\f0f3";
}
.icon-coffee:before {
  content: "\f0f4";
}
.icon-food:before {
  content: "\f0f5";
}
.icon-file-alt:before {
  content: "\f0f6";
}
.icon-building:before {
  content: "\f0f7";
}
.icon-hospital:before {
  content: "\f0f8";
}
.icon-ambulance:before {
  content: "\f0f9";
}
.icon-medkit:before {
  content: "\f0fa";
}
.icon-fighter-jet:before {
  content: "\f0fb";
}
.icon-beer:before {
  content: "\f0fc";
}
.icon-h-sign:before {
  content: "\f0fd";
}
.icon-plus-sign-alt:before {
  content: "\f0fe";
}
.icon-double-angle-left:before {
  content: "\f100";
}
.icon-double-angle-right:before {
  content: "\f101";
}
.icon-double-angle-up:before {
  content: "\f102";
}
.icon-double-angle-down:before {
  content: "\f103";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-desktop:before {
  content: "\f108";
}
.icon-laptop:before {
  content: "\f109";
}
.icon-tablet:before {
  content: "\f10a";
}
.icon-mobile-phone:before {
  content: "\f10b";
}
.icon-circle-blank:before {
  content: "\f10c";
}
.icon-quote-left:before {
  content: "\f10d";
}
.icon-quote-right:before {
  content: "\f10e";
}
.icon-spinner:before {
  content: "\f110";
}
.icon-circle:before {
  content: "\f111";
}
.icon-reply:before,
.icon-mail-reply:before {
  content: "\f112";
}
.icon-folder-close-alt:before {
  content: "\f114";
}
.icon-folder-open-alt:before {
  content: "\f115";
}
.icon-expand-alt:before {
  content: "\f116";
}
.icon-collapse-alt:before {
  content: "\f117";
}
.icon-smile:before {
  content: "\f118";
}
.icon-frown:before {
  content: "\f119";
}
.icon-meh:before {
  content: "\f11a";
}
.icon-gamepad:before {
  content: "\f11b";
}
.icon-keyboard:before {
  content: "\f11c";
}
.icon-flag-alt:before {
  content: "\f11d";
}
.icon-flag-checkered:before {
  content: "\f11e";
}
.icon-terminal:before {
  content: "\f120";
}
.icon-code:before {
  content: "\f121";
}
.icon-reply-all:before {
  content: "\f122";
}
.icon-mail-reply-all:before {
  content: "\f122";
}
.icon-star-half-full:before,
.icon-star-half-empty:before {
  content: "\f123";
}
.icon-location-arrow:before {
  content: "\f124";
}
.icon-crop:before {
  content: "\f125";
}
.icon-code-fork:before {
  content: "\f126";
}
.icon-unlink:before {
  content: "\f127";
}
.icon-question:before {
  content: "\f128";
}
.icon-info:before {
  content: "\f129";
}
.icon-exclamation:before {
  content: "\f12a";
}
.icon-superscript:before {
  content: "\f12b";
}
.icon-subscript:before {
  content: "\f12c";
}
.icon-eraser:before {
  content: "\f12d";
}
.icon-puzzle-piece:before {
  content: "\f12e";
}
.icon-microphone:before {
  content: "\f130";
}
.icon-microphone-off:before {
  content: "\f131";
}
.icon-shield:before {
  content: "\f132";
}
.icon-calendar-empty:before {
  content: "\f133";
}
.icon-fire-extinguisher:before {
  content: "\f134";
}
.icon-rocket:before {
  content: "\f135";
}
.icon-maxcdn:before {
  content: "\f136";
}
.icon-chevron-sign-left:before {
  content: "\f137";
}
.icon-chevron-sign-right:before {
  content: "\f138";
}
.icon-chevron-sign-up:before {
  content: "\f139";
}
.icon-chevron-sign-down:before {
  content: "\f13a";
}
.icon-html5:before {
  content: "\f13b";
}
.icon-css3:before {
  content: "\f13c";
}
.icon-anchor:before {
  content: "\f13d";
}
.icon-unlock-alt:before {
  content: "\f13e";
}
.icon-bullseye:before {
  content: "\f140";
}
.icon-ellipsis-horizontal:before {
  content: "\f141";
}
.icon-ellipsis-vertical:before {
  content: "\f142";
}
.icon-rss-sign:before {
  content: "\f143";
}
.icon-play-sign:before {
  content: "\f144";
}
.icon-ticket:before {
  content: "\f145";
}
.icon-minus-sign-alt:before {
  content: "\f146";
}
.icon-check-minus:before {
  content: "\f147";
}
.icon-level-up:before {
  content: "\f148";
}
.icon-level-down:before {
  content: "\f149";
}
.icon-check-sign:before {
  content: "\f14a";
}
.icon-edit-sign:before {
  content: "\f14b";
}
.icon-external-link-sign:before {
  content: "\f14c";
}
.icon-share-sign:before {
  content: "\f14d";
}
.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}
@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(15px);
  }
  80% {
    -webkit-transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes bounceInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateY(15px);
  }
  80% {
    -moz-transform: translateY(-10px);
  }
  100% {
    -moz-transform: translateY(0);
  }
}
@-o-keyframes bounceInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -o-transform: translateY(15px);
  }
  80% {
    -o-transform: translateY(-10px);
  }
  100% {
    -o-transform: translateY(0);
  }
}
@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(15px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.bounceInDown {
  -webkit-animation-name: bounceInDown;
  -moz-animation-name: bounceInDown;
  -o-animation-name: bounceInDown;
  animation-name: bounceInDown;
}
a img {
  border: 0;
}
body {
  font: 300 14px/18px Arial, "Lucida Grande", sans-serif;
  text-align: center;
  background-color: #efefef;
  margin: 0;
}
header {
  overflow: visible;
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  left: 0;
}
header ul {
  float: left;
  margin: 6px 10px 7px 0;
  padding-left: 20px;
  width: 685px;
}
header li {
  list-style: none;
  float: left;
}
header a {
  text-decoration: none;
  padding: 16px 13px 15px;
  display: block;
  margin: 0 3px;
  color: #333;
}
header a.active {
  text-decoration: underline;
}
header a:hover {
  text-decoration: underline;
}
header span {
  color: transparent;
}
.error {
  display: block;
  font-weight: 700;
  line-height: 21px;
}
code {
  padding: 15px 20px;
  display: block;
  margin: 20px 10px;
  border: 1px solid #ccc;
  line-height: 25px;
  color: #333;
  font-family: monospace;
  background-color: #f9f9f9;
  word-break: break-word;
}
#header-content {
  -webkit-box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #ededed;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  width: 960px;
  background-color: #fff;
}
.main-container {
  padding-top: 78px;
  padding-bottom: 30px;
}
#sign-up {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  background-color: #ec1e11;
  background-image: -moz-linear-gradient(top, #ff3019, #cf0404);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff3019), to(#cf0404));
  background-image: -webkit-linear-gradient(top, #ff3019, #cf0404);
  background-image: -o-linear-gradient(top, #ff3019, #cf0404);
  background-image: linear-gradient(to bottom, #ff3019, #cf0404);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff3019', endColorstr='#ffcf0404', GradientType=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
  border: solid 1px #da7c0c;
  background-color: #cf0404;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  position: relative;
  padding: 5px 0 6px;
  margin-left: 8px;
  font-weight: 700;
  font-size: 15px;
  width: 195px;
  letter-spacing: 1px;
}
#sign-up span {
  display: block;
  position: relative;
  font-size: 10px;
  color: #fff;
  font-weight: 300;
  -webkit-font-smoothing: auto;
  left: 1px;
}
#sign-up i {
  position: relative;
  font-size: 17px;
  left: 3px;
  top: 1px;
}
.btn {
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  vertical-align: baseline;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  margin: 0 2px;
  outline: none;
}
.btn:hover {
  background-position: 0 -15px !important;
  text-decoration: none;
}
.btn:active {
  background-image: none !important;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.header-message {
  text-align: center;
  position: relative;
  width: 960px;
  margin: 0 auto;
}
#end-video {
  padding: 0 !important;
  float: none !important;
  border: 0 !important;
}
.home {
  padding-bottom: 70px;
  background-color: #f6f6f6;
  background-image: -moz-linear-gradient(top, #fafafa, #efefef);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#efefef));
  background-image: -webkit-linear-gradient(top, #fafafa, #efefef);
  background-image: -o-linear-gradient(top, #fafafa, #efefef);
  background-image: linear-gradient(to bottom, #fafafa, #efefef);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffefefef', GradientType=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
}
.home h1 {
  font-size: 50px;
  font-weight: 700;
  color: #343434;
  line-height: 60px;
  margin: 5px 0 12px;
  -webkit-font-smoothing: antialiased;
}
.home h1.email-marketing-service-boost {
  font-size: 25px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  line-height: 28px;
  padding: 31px 0 35px;
  color: #888;
  clear: left;
  width: 100%;
  margin: 0;
}
.home h1.email-marketing-service-boost span {
  margin-right: 190px;
}
.home h2 {
  font-size: 25px;
  color: #999;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  line-height: 28px;
  margin: 0;
  padding: 0;
}
.home h2.easy-email-marketing {
  font-size: 50px;
  font-weight: 700;
  color: #343434;
  line-height: 60px;
  margin: 5px 0 12px;
  -webkit-font-smoothing: antialiased;
}
.home #logo img {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}
#mean-it {
  position: absolute;
  left: 25px;
  top: 5px;
}
#no-cc {
  position: absolute;
  margin-left: 240px;
  top: 7px;
  left: 50%;
}
#logo {
  padding: 5px 15px 2px;
  margin: 2px 0;
  width: 200px;
  float: left;
}
#logo span {
  text-decoration: none;
  text-indent: -1000px;
  float: left;
}
#hero-container {
  -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.8);
  background-color: #920102;
  margin: 35px 0 0;
  height: 351px;
}
#laptop {
  float: none !important;
  padding: 0 !important;
  position: absolute;
  width: 777px;
  left: 279px;
  top: -11px;
}
#hero {
  position: relative;
  margin: 0 auto;
  width: 960px;
}
#hero img {
  padding: 0 15px 38px 0;
  float: left;
}
#hero strong {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
  font-weight: 700;
  font-size: 15px;
  color: #fff;
}
#hero p {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
  margin: 4px 0 24px 0;
  line-height: 22px;
  font-size: 14px;
  color: #f2d1d2;
  padding: 0;
}
#hero ul {
  margin: 0;
  padding: 25px 0 5px 10px;
  width: 340px;
  text-align: left;
}
#hero li {
  list-style: none;
  clear: left;
}
#video {
  background-color: #000;
  position: relative;
  float: right;
  right: 25px;
  top: 21px;
}
#mobile {
  padding: 0 !important;
  position: absolute;
  top: 122px;
  right: -15px;
}
div.content {
  text-align: left;
  margin: 0 auto;
  width: 960px;
}
div.sign-up-bar {
  text-align: center;
  padding: 17px 0px;
  border: 1px solid #ddd;
  border-bottom: 1px solid #d0d0d0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
div.sign-up-bar input {
  width: 205px;
  margin: 0 5px;
  outline: none;
  font-size: 19px;
  padding: 0 10px;
  margin-bottom: 0;
  height: 42px;
  line-height: 42px;
  -webkit-font-smoothing: antialiased;
}
div.sign-up-bar input.placeholder {
  color: #999;
}
div.sign-up-bar input.text {
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
div.sign-up-bar input.text:focus {
  border-color: #52a8ec;
  border-color: rgba(82, 168, 236, 0.85);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.86);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.86);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.86);
}
div.sign-up-bar input::-webkit-input-placeholder {
  color: #999;
}
div.sign-up-bar input:-moz-placeholder {
  color: #999;
}
div.sign-up-bar input::-moz-placeholder {
  color: #999;
}
div.sign-up-bar input:-ms-input-placeholder {
  color: #999;
}
div.sign-up-bar input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  background-color: #ec1e11;
  background-image: -moz-linear-gradient(top, #ff3019, #cf0404);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff3019), to(#cf0404));
  background-image: -webkit-linear-gradient(top, #ff3019, #cf0404);
  background-image: -o-linear-gradient(top, #ff3019, #cf0404);
  background-image: linear-gradient(to bottom, #ff3019, #cf0404);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff3019', endColorstr='#ffcf0404', GradientType=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
  border: solid 1px #da7c0c;
  background-color: #cf0404;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  font-weight: 700;
  height: 44px;
  cursor: pointer;
}
h2.not-convinced {
  padding: 31px 0 35px;
  color: #888;
  clear: left;
  width: 100%;
}
h2.not-convinced.free {
  padding: 20px 0 22px;
}
h2.not-convinced span {
  margin-right: 190px;
}
div.key-points {
  border: 1px solid #ddd;
  border-bottom: 1px solid #d0d0d0;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
div.key-points img {
  margin: 35px 0 0 45px;
  float: right;
}
div.key-points .info:not(:empty) {
  margin: 20px 0 !important;
  padding: 8px 35px 8px 14px;
}
div.key-points .info:not(:empty) p {
  font-size: 12px;
}
div.key-points h3 {
  margin: 25px 0 14px;
  line-height: 34px;
  font-size: 24px;
  color: #333;
}
div.key-points h3 em,
div.key-points h3 i {
  position: relative;
  float: right;
  top: 5px;
}
div.key-points h3 em.icon-tablet,
div.key-points h3 i.icon-tablet {
  margin: 0 15px;
}
div.key-points ul.classic {
  padding: 0 0 0 11px;
  margin: 0;
  list-style-position: outside;
}
div.key-points ul.classic li {
  line-height: 28px;
  font-size: 16px;
  padding: 5px 0;
  color: #888;
  margin: 0;
}
div.key-points ul.classic li::before {
  padding-right: 7px;
}
div.key-points p {
  line-height: 28px;
  font-size: 16px;
  margin: 5px 0;
  color: #888;
}
div.key-points div {
  vertical-align: text-top;
  padding: 0px 25px 15px 30px;
  margin-bottom: 15px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-align: left;
  overflow: auto;
}
div.key-points div div {
  padding: 0;
  margin-bottom: 0;
}
div.key-points div:nth-child(2n) img {
  margin: 35px 35px 0 0;
  float: left;
}
div.logos span {
  display: none;
}
div.logos img {
  margin: 55px 9px 30px;
  width: 174px;
}
div.logos img:nth-child(1) {
  margin: 45px 9px 37px;
}
div.logos img:nth-child(2) {
  margin: 30px 9px 43px;
}
div.logos img:nth-child(4) {
  margin: 45px 9px 40px;
}
div.logos img:nth-child(5) {
  margin: 45px 9px 40px;
}
.blog strong {
  font-weight: 700;
  color: #666;
}
.main-container.content-page {
  min-height: 400px;
  text-align: left;
  margin: 0 auto;
  width: 960px;
}
.main-container.content-page div.content {
  overflow: hidden;
  margin-bottom: 30px;
}
.main-container.content-page h2 {
  font-size: 50px;
  color: #F42D33;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 0 2px #fff;
  line-height: 45px;
  margin: 0;
  padding: 15px 0 25px 10px;
}
.main-container.content-page table {
  border-collapse: collapse;
  font-size: 16px;
  width: 100%;
}
.main-container.content-page tr:first-child {
  background-color: #f8f8f8;
}
.main-container.content-page tr:first-child td {
  text-shadow: 0 1px 0 #fff;
  font-weight: 700;
  font-size: 15px;
  color: #444;
}
.main-container.content-page .send-limit {
  font-weight: 700;
  font-size: 15px;
  color: #454545;
}
.main-container.content-page td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 15px 8px;
}
.main-container.content-page td:first-child {
  text-align: left;
  width: 150px;
  color: #444;
}
.main-container.content-page.blog div.content {
  width: 715px;
  margin-top: 4px;
}
.main-container.content-page.blog div.content.flip {
  float: right;
}
.main-container.content-page.blog div.content.flip a {
  font-size: 16px;
  text-decoration: none;
  line-height: 35px;
}
.main-container.content-page.blog div.content.flip h2.category-title {
  padding: 0 0 10px 10px;
}
.main-container.content-page.blog div.content img {
  padding: 0 0 15px 15px;
  float: right;
  max-width: 480px;
  height: auto;
}
.main-container.content-page.blog ul.classic {
  float: left;
  width: 770px;
}
.main-container.content-page.blog li::before {
  display: none;
}
.main-container.content-page.support div.content {
  border: 1px solid #ddd;
  border-bottom: 1px solid #d0d0d0;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  line-height: 26px;
  font-size: 16px;
  padding: 20px;
  color: #888;
}
.main-container.content-page.support div.content h3 {
  margin: 0;
}
.main-container.content-page.support div.content h3 a {
  text-decoration: none;
  font-size: 23px;
  line-height: 30px;
  color: #444;
}
.main-container.content-page.support h2.category-title {
  font-size: 30px;
  line-height: 35px;
  padding: 15px 0 15px 10px;
  color: #333;
}
.main-container.content-page.support p.posted {
  display: block;
  padding: 0;
  margin: 0;
  font-size: 15px;
  color: #999;
}
.main-container.content-page.support div.search {
  position: relative;
  margin: 8px 6px 0 0;
  float: right;
  padding: 4px 10px 5px;
  background-color: #f6f6f6;
  background-image: -moz-linear-gradient(top, #ffffff, #e8e8e8);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e8e8e8));
  background-image: -webkit-linear-gradient(top, #ffffff, #e8e8e8);
  background-image: -o-linear-gradient(top, #ffffff, #e8e8e8);
  background-image: linear-gradient(to bottom, #ffffff, #e8e8e8);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe8e8e8', GradientType=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
  border: 1px solid #ccc;
  background-color: #e8e8e8 !important;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.main-container.content-page.support div.search i.icon-search {
  position: absolute;
  top: 14px;
  right: 23px;
  font-size: 13px;
  color: #aaa;
}
.main-container.content-page.support div.search input[type="text"] {
  width: 250px;
  outline: none;
  font-size: 14px;
  padding: 5px 31px 5px 9px;
  margin-bottom: 0;
  display: block;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.main-container.content-page.support div.search input[type="text"]:focus {
  border-color: #52a8ec;
  border-color: rgba(82, 168, 236, 0.85);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.86);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.86);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.86);
}
.main-container.content-page.support.detail h2.category-title {
  padding: 0;
}
.main-container.content-page.support.detail div.content {
  width: auto;
}
.main-container.content-page.support.search li::before {
  display: none;
}
.main-container.content-page.support.search li {
  line-height: 19px;
  font-size: 14px;
  color: #333;
  padding: 8px 0;
}
.main-container.content-page.support.search a {
  font-size: 16px;
  line-height: 19px;
}
.main-container.content-page.support.search ul.classic {
  width: 512px;
}
.main-container.content-page.features {
  width: 100%;
  min-width: 960px;
}
.main-container.content-page.features div.key-points {
  text-align: left;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #f6f6f6;
  background-image: -moz-linear-gradient(top, #fafafa, #efefef);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#efefef));
  background-image: -webkit-linear-gradient(top, #fafafa, #efefef);
  background-image: -o-linear-gradient(top, #fafafa, #efefef);
  background-image: linear-gradient(to bottom, #fafafa, #efefef);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffefefef', GradientType=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
  width: 100%;
  padding-bottom: 15px;
}
.main-container.content-page.features div.key-points div {
  min-width: 960px;
  max-width: 997px;
  width: 75%;
  margin: 0 auto;
  text-align: center;
  padding-right: 0;
  padding-left: 0;
}
.main-container.content-page.features section {
  text-align: center;
  overflow: hidden;
  padding: 10px 0 22px 0;
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top, #efefef, #fafafa);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#efefef), to(#fafafa));
  background-image: -webkit-linear-gradient(top, #efefef, #fafafa);
  background-image: -o-linear-gradient(top, #efefef, #fafafa);
  background-image: linear-gradient(to bottom, #efefef, #fafafa);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffefefef', endColorstr='#fffafafa', GradientType=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
}
.main-container.content-page.features h3 {
  color: #777;
  text-shadow: 0 1px 1px #fff;
  text-align: center;
  font-size: 30px;
  line-height: 42px;
  margin: 10px 0 25px;
  -webkit-font-smoothing: antialiased;
}
.main-container.content-page.features img {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  min-width: 940px;
  max-width: 997px;
  width: 68%;
}
.main-container.content-page.features img.feature-image {
  display: none;
}
.main-container.content-page.features article {
  display: inline-block;
  color: #888;
  text-align: left;
  font-size: 15px;
  list-style-type: none;
  vertical-align: top;
  width: 28%;
  padding: 9px 12px 12px;
  line-height: 24px;
  margin: 6px 8px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}
ul.classic {
  list-style-type: none;
  padding: 0 0 0 10px;
  margin: 0;
}
ul.classic li {
  position: relative;
  line-height: 20px;
  font-size: 14px;
  padding: 4px 0;
  color: #666;
}
ul.classic li::before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  padding-right: 5px;
  margin-top: 0;
  content: "\f105";
  color: #666;
  font-size: 10px;
  position: absolute;
  top: 12px;
  left: -11px;
}
ul.classic li > p {
  display: inline;
}
#contact label,
#credential label,
#send-to-friend label {
  font-size: 16px;
  font-weight: 700;
  color: #666;
  display: block;
  padding: 13px 4px 4px;
  -webkit-font-smoothing: antialiased;
}
#contact input[type="text"],
#credential input[type="text"],
#send-to-friend input[type="text"] {
  width: 300px;
  margin: 5px 0 10px;
  outline: none;
  font-size: 16px;
  padding: 8px;
  margin-bottom: 0;
  display: block;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#contact input[type="text"]:focus,
#credential input[type="text"]:focus,
#send-to-friend input[type="text"]:focus {
  border-color: #52a8ec;
  border-color: rgba(82, 168, 236, 0.85);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.86);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.86);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.86);
}
#contact form,
#credential form {
  padding: 15px 0;
  width: 400px;
  float: left;
}
#contact span.captcha,
#credential span.captcha {
  display: block;
  margin-top: 3px;
}
#contact span.captcha img,
#credential span.captcha img {
  float: left;
  margin: 2px 10px 5px 0;
}
#contact span.captcha input,
#credential span.captcha input {
  width: 100px;
  margin-top: 8px;
}
#contact label span,
#credential label span {
  font-size: 13px;
  font-weight: 300;
  padding-top: 3px;
  display: block;
}
#contact input[type="submit"],
#credential input[type="submit"],
#contact .btn,
#credential .btn {
  background-color: #eb0000;
  background-image: -moz-linear-gradient(top, #ff0000, #cc0000);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff0000), to(#cc0000));
  background-image: -webkit-linear-gradient(top, #ff0000, #cc0000);
  background-image: -o-linear-gradient(top, #ff0000, #cc0000);
  background-image: linear-gradient(to bottom, #ff0000, #cc0000);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff0000', endColorstr='#ffcc0000', GradientType=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
  -webkit-font-smoothing: antialiased;
  background-color: #cc0000;
  font-weight: 700;
  margin-top: 20px;
  cursor: pointer;
  width: 319px;
  border: none;
  color: #fff;
  padding: 9px 0 10px;
  font-size: 16px;
}
#contact input[type="password"],
#credential input[type="password"],
#contact textarea,
#credential textarea {
  width: 300px;
  margin: 5px 0 10px;
  outline: none;
  font-size: 16px;
  padding: 8px;
  margin-bottom: 0;
  display: block;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#contact input[type="password"]:focus,
#credential input[type="password"]:focus,
#contact textarea:focus,
#credential textarea:focus {
  border-color: #52a8ec;
  border-color: rgba(82, 168, 236, 0.85);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.86);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.86);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.86);
}
#send-to-friend-main-container {
  padding-top: 40px !important;
  min-height: 0 !important;
  padding-bottom: 0px;
  max-width: 500px;
  width: 90%;
}
#send-to-friend-main-container h2 {
  line-height: 35px !important;
  font-size: 35px !important;
  padding: 0 8px 15px;
}
.send-to-friend-logo {
  margin-left: 360px;
}
.send-to-friend-logo img {
  margin: 15px 0 20px !important;
}
.send-to-friend-container {
  margin-bottom: 0 !important;
  width: 100% !important;
}
.send-to-friend-container-button {
  text-align: right !important;
  padding: 20px 0 0 !important;
  width: 100%;
}
#send-to-friend {
  margin-top: 17px;
  padding: 0px 28px;
}
#send-to-friend input[type="text"] {
  width: 100%;
}
#send-to-friend label {
  font-size: 20px;
  padding: 8px 0 0;
}
#send-to-friend #input-container {
  overflow: visible;
}
#send-to-friend #input-container input {
  margin: 10px 10px 0 0;
}
#send-to-friend #input-container div {
  overflow: visible;
  padding: 0 35px 0 0;
  position: relative;
  margin: 0;
}
#send-to-friend #input-container a.remove_tr {
  text-decoration: none;
  position: absolute;
  font-size: 20px;
  color: #ff0000;
  right: 7px;
  top: 7px;
}
#send-to-friend #input-container a.remove_tr:hover {
  color: #cc0000;
}
#send-to-friend .btn {
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  padding: 7px 14px;
  margin-bottom: 0;
  margin-right: 10px;
  font-size: 16px;
  line-height: 20px;
  color: #333;
  text-align: center;
  cursor: pointer;
  background-repeat: repeat-x;
  border: 1px solid #ccc;
  font-weight: 700;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: background 0.1s linear;
  -moz-transition: background 0.1s linear;
  -ms-transition: background 0.1s linear;
  -o-transition: background 0.1s linear;
}
#send-to-friend .btn:hover {
  background-position: 0 -15px !important;
  text-decoration: none;
}
#send-to-friend .btn:active {
  background-image: none !important;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
#send-to-friend .btn i {
  margin-right: 7px;
  font-size: 13px;
}
#send-to-friend .btn.confirm {
  -webkit-font-smoothing: antialiased;
  color: #fff;
  display: inline-block;
  margin: 0 0 0 22px;
  padding: 7px 22px 8px;
  font-size: 14px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
  background-color: #51a351;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
#send-to-friend .btn.cancel {
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  float: left;
  color: #333;
  margin: 0;
  background-color: #f6f6f6;
  background-image: -moz-linear-gradient(top, #ffffff, #e8e8e8);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e8e8e8));
  background-image: -webkit-linear-gradient(top, #ffffff, #e8e8e8);
  background-image: -o-linear-gradient(top, #ffffff, #e8e8e8);
  background-image: linear-gradient(to bottom, #ffffff, #e8e8e8);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe8e8e8', GradientType=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
  background-color: #e8e8e8 !important;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
#contact div {
  width: 285px;
  float: right;
}
#credential-container {
  position: relative;
  background-color: transparent;
  margin-left: -234px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-top: 0px;
  width: 468px;
  left: 50%;
  border: 0;
}
#credential-container div.content {
  width: auto;
  margin-top: 15px;
}
#credential-container h2 {
  text-shadow: 0px 1px 1px #fff;
  padding: 5px 15px;
  font-weight: 700;
  font-size: 27px;
  color: #666;
  margin: 0;
  position: absolute;
  top: 6px;
  left: 167px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #fdfdfd;
}
#credential-container h2:before {
  content: "";
  position: absolute;
  bottom: -19px;
  left: 18px;
  border-width: 0 0 19px 36px;
  border-style: solid;
  border-color: transparent #ddd;
  display: block;
  width: 0;
}
#credential-container h2:after {
  content: "";
  position: absolute;
  bottom: -21px;
  left: 18px;
  border-width: 0 0 20px 7px;
  border-style: solid;
  border-color: transparent #efefef;
  display: block;
  width: 0;
}
#credential-container .logo {
  float: none;
  width: 140px;
  margin: 0 0 10px 45px;
}
#credential-container .free-no-hassel {
  -webkit-font-smoothing: antialiased;
  margin-bottom: 10px;
  text-align: center;
  line-height: 32px;
  font-weight: 700;
  font-size: 19px;
  display: block;
  color: #666;
}
#credential {
  padding: 15px 30px;
}
#credential input[type="text"],
#credential input[type="password"] {
  width: 386px;
}
#credential input[type="submit"] {
  padding: 10px 9px 12px;
  font-size: 16px;
  width: 403px;
}
#credential input[type="checkbox"] {
  margin-right: 5px;
  display: inline;
  width: auto;
}
#credential form {
  padding-top: 0;
  width: auto;
}
#credential .terms_condition {
  display: inline-block;
  margin-top: 10px;
  position: relative;
  bottom: 2px;
}
#credential .forgot {
  display: block;
  text-align: center;
  margin: 5px 0 10px;
  text-decoration: none;
  color: #08c;
}
#credential .new-account {
  text-align: center;
  padding-top: 20px;
  margin-top: 30px;
  border-top: 1px dotted #ccc;
}
#credential .new-account a {
  color: #08c;
}
#forgotPwdBlock #signin_submit {
  display: inline-block;
  width: 195px;
}
#forgotPwdBlock #show_login_block {
  color: #333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f6f6f6;
  background-image: -moz-linear-gradient(top, #ffffff, #e8e8e8);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e8e8e8));
  background-image: -webkit-linear-gradient(top, #ffffff, #e8e8e8);
  background-image: -o-linear-gradient(top, #ffffff, #e8e8e8);
  background-image: linear-gradient(to bottom, #ffffff, #e8e8e8);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe8e8e8', GradientType=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
  border: 1px solid #ccc;
  background-color: #e8e8e8 !important;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  display: inline-block;
  width: 176px;
  font-size: 16px;
  padding: 5px 8px 6px;
}
div.msg.info {
  padding: 0;
  margin: 0;
  font-weight: 700;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #bce8f1;
  background-color: #d9edf7;
  line-height: 20px;
  font-size: 12px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
div.msg.info p {
  font-weight: 700 !important;
  color: #3a87ad !important;
  line-height: 20px !important;
}
div.msg.info:empty {
  display: none !important;
}
div.msg.info:not(:empty) {
  margin: 5px 0;
  padding: 8px 35px 8px 14px;
}
.api-resources strong {
  font-size: 18px;
  line-height: 22px;
  padding: 15px 0 10px;
  display: block;
  font-weight: 700;
  clear: left;
}
.api-resources ul {
  width: 400px;
}
.api-resources li {
  float: left;
  width: 200px;
}
.api-resources .api-block {
  padding-bottom: 20px;
  margin-bottom: 40px;
  background-color: #fcfcfc;
  border: 1px solid #ddd;
}
.api-resources .api-block strong {
  display: block;
  padding: 13px 20px 0;
}
.api-resources .api-block code {
  margin: 13px 20px 20px;
}
.api-resources .api-block h4 {
  border-bottom: 1px solid #ddd;
  margin: 0 0 9px;
  line-height: 32px;
  font-size: 22px;
  color: #333;
  background-color: #f7f7f7;
  padding: 8px 15px;
}
/*------------------------------------------------------- FOOTER START ----------------------------------------------*/
#footer {
  width: 100%;
  margin: 0;
  background-color: #950102;
  background-image: -moz-linear-gradient(top, #a20102, #820102);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a20102), to(#820102));
  background-image: -webkit-linear-gradient(top, #a20102, #820102);
  background-image: -o-linear-gradient(top, #a20102, #820102);
  background-image: linear-gradient(to bottom, #a20102, #820102);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa20102', endColorstr='#ff820102', GradientType=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
  border-top: 1px solid #920102;
  -webkit-box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  clear: both;
}
#footer div.container {
  width: 980px;
  margin: 0 auto;
  text-align: left;
}
.footerlinks {
  /* width:666px; */

  width: 633px;
  /** Changed by shubhra**/

  /* background:url(../images/footer-saprator1.jpg) no-repeat right; */

  float: left;
  margin: 40px 0 50px;
}
.footerlinks h5 {
  font-size: 18px;
  color: #fff;
  /* font-family:"Century Gothic"; */

  line-height: normal;
  padding: 0px 0 5px 0;
  border-bottom: 1px solid #BF1B1B;
  border-bottom: 1px solid rgba(191, 27, 27, 0.8);
  -webkit-box-shadow: inset 0px -2px 1px -1px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: inset 0px -2px 1px -1px rgba(0, 0, 0, 0.13);
  box-shadow: inset 0px -2px 1px -1px rgba(0, 0, 0, 0.13);
  margin: 0;
  text-transform: uppercase;
  text-shadow: 0 1px 0px #000;
}
.footer-right-area {
  width: 324px;
  /* background:url(../images/footer-logo.png) no-repeat top left; */

  background: url(../images/logo-editor.png) no-repeat top left;
  float: left;
  margin: 40px 0 50px 20px;
}
.footer-right-area p {
  font-size: 11px;
  color: #fff;
  text-shadow: 0 1px 0px #000;
  line-height: normal;
  padding: 70px 0 0 70px;
  margin: 0;
  display: block;
}
.footerlinks-inner-div {
  width: 170px;
  float: left;
  /* margin:0 50px 0 0; */

  margin: 0 40px 0 0;
  /** Change by shubhra**/

}
ul.footerlinks-navi {
  padding: 0;
  margin: 0 auto;
  display: block;
}
ul.footerlinks-navi li {
  font-size: 14px;
  display: block;
  font-weight: normal;
  line-height: 30px;
  padding: 0px 12px 0px 0px;
  border-bottom: 1px solid #BF1B1B;
  border-bottom: 1px solid rgba(191, 27, 27, 0.8);
  -webkit-box-shadow: inset 0px -2px 1px -1px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: inset 0px -2px 1px -1px rgba(0, 0, 0, 0.13);
  box-shadow: inset 0px -2px 1px -1px rgba(0, 0, 0, 0.13);
}
ul.footerlinks-navi li.none {
  background: none;
}
ul.footerlinks-navi li a {
  text-decoration: none;
  color: #fff;
  text-shadow: 0 1px 0px #000;
}
ul.footerlinks-navi li a:hover {
  text-decoration: underline;
}
ul.socal-icon {
  margin: 14px 39px 0 0;
  padding: 0;
  float: right;
}
ul.socal-icon li {
  margin: 10px 7px;
  padding: 0;
  float: left;
  display: block;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}
ul.socal-icon li a {
  margin: 0;
  padding: 0;
  display: inline;
}
ul.socal-icon li a span {
  margin: 0px 5px 0 0;
}
ul.socal-icon img {
  width: 26px;
}
/*------------------------------------------------------- FOOTER END ----------------------------------------------*/
/*------------------------------------------------------- BLOG/SUPPORT START ---------------------------------------------- */
#right-column {
  float: right;
  width: 175px;
}
#right-column.flip {
  float: left;
  width: 200px;
  margin-top: 10px;
}
#right-column.flip h2 {
  font-size: 22px;
  line-height: 25px;
}
#right-column.flip ul.clean a {
  font-size: 15px;
  line-height: 26px;
}
#right-column.flip div.links-multi {
  padding: 6px 15px 14px;
}
#right-column h2 {
  font-size: 18px;
  line-height: 20px;
  padding: 5px 0 8px;
  color: #333;
}
#right-column h2 a {
  text-decoration: none;
  color: #333;
}
#right-column div.links-multi {
  border: 1px solid #ddd;
  border-bottom: 1px solid #d0d0d0;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  padding: 6px 13px 14px;
  margin: 4px 14px 14px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 136px;
}
#right-column div.links-multi.category {
  margin-top: 77px;
}
#right-column ul.clean {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#right-column ul.clean a {
  text-decoration: none;
  font-size: 13px;
  line-height: 21px;
}
#right-column ul.clean a:hover {
  text-decoration: underline;
}
#subscribe {
  border: 0;
  float: right;
  margin: 8px 0 8px 9px;
  padding: 11px 14px 13px;
  line-height: 16px;
  font-size: 15px;
  text-decoration: none;
  color: #444;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f6f6f6;
  background-image: -moz-linear-gradient(top, #ffffff, #e8e8e8);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e8e8e8));
  background-image: -webkit-linear-gradient(top, #ffffff, #e8e8e8);
  background-image: -o-linear-gradient(top, #ffffff, #e8e8e8);
  background-image: linear-gradient(to bottom, #ffffff, #e8e8e8);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe8e8e8', GradientType=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
  border: 1px solid #ccc;
  background-color: #e8e8e8 !important;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
#subscribe i {
  padding-left: 5px;
}
div.pagination-container,
div.pagination_div {
  text-align: center;
  margin-bottom: 15px;
}
ul.pagination {
  width: auto;
  display: inline-block;
  margin: 0 auto 10px;
  list-style-type: none;
}
ul.pagination li {
  float: left;
  margin: 0;
}
ul.pagination li:first-child a {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
ul.pagination li:last-child a {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  border-right: 1px solid #bbb;
}
ul.pagination li a {
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  text-shadow: none;
  font-size: 13px;
  float: left;
  color: #444;
  margin: 0;
  padding: 7px 13px;
  border: 1px solid #bbb;
  border-right: 0;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
}
ul.pagination li a.selected {
  background: #eee;
  text-decoration: none;
  color: #888;
}
ul.pagination li a:hover {
  background-position: 0 -15px !important;
  background-color: #f2f2f2;
}
ul.pagination li a:active {
  background-image: none !important;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
/*------------------------------------------------------- BLOG/SUPPORT END ---------------------------------------------- */
/*------------------------------------------------------- RESPONSIVE START ---------------------------------------------- */
@media screen and (max-device-width: 480px) {
  #laptop {
    left: 96px;
  }
  #video {
    right: 215px;
  }
  #hero strong {
    color: #333;
    text-shadow: none;
  }
  #hero p {
    margin-bottom: 17px;
    text-shadow: none;
    color: #888;
  }
  #hero ul {
    position: absolute;
    width: auto;
    top: 395px;
    padding: 17px 3px 0;
    border: 1px solid #ddd;
    border-bottom: 1px solid #d0d0d0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  #hero ul li {
    float: left;
    clear: none;
    width: 287px;
    padding: 0 15px;
  }
  h2.not-convinced.free {
    padding-top: 35px;
  }
  #hero-container {
    margin-bottom: 190px;
  }
  #no-cc {
    margin-left: 290px;
  }
}
/*------------------------------------------------------- RESPONSIVE END ---------------------------------------------- */
